.blue{
  color: rgb(255, 255, 255);
  justify-content:center;
  text-align: center;
  flex-wrap:wrap
  
  
}

.blue{
  background-image: url(https://static.vecteezy.com/system/resources/previews/005/661/858/original/melted-chocolate-background-with-chocolate-cakes-free-vector.jpg);
}

/* h1,h2{
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0, 0.3);



} */

.header{
  background-color: rgb(15, 15, 15);
}



.cards{

}

.meme{
  display: flexbox;
  text-align: center;
}




.victoria{
border: 2ch;
border-bottom-color: aqua;
box-shadow: 20cm rgb(43, 38, 34);
color: aliceblue;
border: 3px solid rgb(243, 150, 50);
background-color: rgb(243, 172, 42);
width: 30ex;
border-radius: 0.1cm;
text-align: center;


}

.victoria:hover{
  background-color: rgb(243, 150, 50);
    transform: scale(1.1);
    transition: 0.2s;

}


.carrotCake:hover{
  background-color: rgb(243, 150, 50);
    transform: scale(1.1);
    transition: 0.2s;

}

.teaLoaf:hover{
  background-color: rgb(243, 150, 50);
    transform: scale(1.1);
    transition: 0.2s;
    

}

.Rating{
  border: 2ch;
  border-bottom-color: aqua;
  box-shadow: 20cm rgb(43, 38, 34);
  color: aliceblue;
  border: 3px solid rgb(243, 150, 50);
  background-color: rgb(243, 172, 42);
  width: 30ex;
  border-radius: 0.1cm;
  text-align: center;
  display: flex;
  flex-direction: column;
  }





.teaLoaf{
  border: 2ch;
  border-bottom-color: aqua;
  box-shadow: 20cm rgb(43, 38, 34);
  color: aliceblue;
  border: 3px solid rgb(243, 150, 50);
  background-color: rgb(243, 172, 42);
  width: 30ex;
  border-radius: 0.1cm;
  text-align: center;
  
  }

  .carrotCake{
    border: 2ch;
    border-bottom-color: aqua;
    box-shadow: 20cm rgb(43, 38, 34);
    color: aliceblue;
    border: 3px solid rgb(243, 150, 50);
    background-color: rgb(243, 172, 42);
    width: 30ex;
    border-radius: 0.1cm;
    text-align: center;
    
    }


    .Cards{

      display:grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 100px;

    }

    